/*
    *{ border: 1px solid lightgray; }
*/

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Literata-Regular";
  src: url("../fonts/Literata-Regular.ttf");
}



@font-face {
  font-family: "Ubuntu-Regular";
  src: url("../fonts/Ubuntu-Regular.ttf");
}


body {
  height: 100vh;
  font-family: 'Literata-Regular';
  font-weight: 400;
}

::placeholder {
  color: #696767 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #696767 !important;
}

::-ms-input-placeholder {
  color: #696767 !important;
}

.page {
  height: 100%;
  color: black;
  position: relative;
}

.join-today {
  display: block;
  font-size: 35px;
  font-family: 'Literata-Regular';
  margin-top: 10px;

}

.quick {
  font-size: 32px;
  line-height: 0;
  font-weight: 300;
}

.head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.main-form {
  background-color: #def2f1;
  padding: 10px 40px 30px 40px;
  margin-left: 0;
  position: absolute;
  right: 15%;
  top: 14%;
  border-radius: 10px;
  min-width: 400px;
}

.field {
  margin-bottom: 20px !important;
}

.check-box-css .checkbox {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: Literata-Bold;
  font-weight: bold;
}

.columns.is-centered.is-mobile.check-box-css {
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.sign-in-btn {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.sign-in-btn button {
  padding: 10px 60px;
  font-size: 25px;
  background-color: #11a4d6;
  border: 1px solid #11a4d6;
  color: white;
  border-radius: 8px;
  transition: 0.2s;
  width: 100%;
  text-transform: uppercase;
}

.sign-in-btn button:hover {
  background-color: white;
  color: #11a4d6;
}

.logo {
  max-width: 180px;
}

#margin_zero {
  margin: 0;
}

.has-icons-left .input {
  padding-left: 10px !important;
  height: 48px;
  border-radius: 8px;
}

.sponser-by {
  color: #60c0bc;
  font-size: 26px;
  text-align: center;
  margin-top: 8px;
}

.check-box-css {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.containerCheck-without-cehck {
  text-align: center;
  font-size: 14px;
}

/* The container */
.containerCheck {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border: 1px solid #b5b5b585;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.containerCheck:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheck input:checked~.checkmark {
  background-color: #11a4d6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerCheck input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerCheck .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.pdf-conteiner {
  padding: 0 35px;
  color: #000000;
  font-family: 'Ubuntu-Regular', sans-serif;
}

.pf-t {
  font-size: 60px;
  font-weight: 500;
}

.pdf-s-t {
  font-family: 'Ubuntu-Regular', sans-serif;
  font-weight: 400;
}

ol {
  padding-left: 20px;
}

.hidden-xs {
  height: 100%;
  width: 100%;
}

.hidden-sm {
  display: none;
}


/* Media Query for iPads */

@media (max-width: 767px) {

  .main-form {
    padding: 100px 10px 330px 10px;
    right: 50%;
    min-width: 100%;
    top: 81px;
    transform: unset;
    background: url(../images/background-mobile.png);
    position: static;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #60c0bc;
  }

  .main-form form {
    max-width: 400px;
    margin: auto;
    background: #def2f1;
    padding: 0 20px 0 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  body {
    overflow: unset !important;
    height: auto;
  }

  .join-today {
    font-size: 30px;
    margin-top: 0;
  }

  #login {
    margin-bottom: 0px;
    background: #def2f1;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 400px;
    margin: auto;
  }

  .quick {
    font-size: 23px;
  }

  .has-icons-left .input {
    height: 40px;
  }

  .containerCheck {
    font-size: 12px;
  }

  .sponser-by {
    font-size: 17px;
    color: #fff;
  }

  .logo {
    max-width: 130px;
  }

  .field {
    margin-bottom: 10px !important;
  }

  .checkmark {
    height: 20px;
    width: 20px;
  }

  .containerCheck {
    padding-left: 30px;
  }

  .sign-in-btn {
    margin-top: 14px;
  }

  .pf-t {
    font-size: 46px;
  }

  .pdf-conteiner {
    padding: 0 20px;
  }

  .hidden-xs {
    display: none;
  }

  .hidden-sm {
    display: block;
    height: 100vh;
    width: 100%;
  }
}


@media (min-width:767px) and (max-width: 991px) {
  .main-form {
    background-color: #def2f1;
    padding: 10px 20px 10px 20px;
    margin-left: 0;
    position: absolute;
    right: 11%;
    top: 7%;
    border-radius: 10px;
    min-width: auto;
  }

  .has-icons-left .input {
    height: 35px;
    border-radius: 8px;
    font-size: 13px;
  }

  .join-today {
    font-size: 25px;
    line-height: 25px;
    margin-top: 0;
  }

  .field {
    margin-bottom: 10px !important;
  }

  .quick {
    font-size: 20px;
  }

  #login {
    margin-bottom: 9px;
  }

  .sponser-by {
    font-size: 10px;
    margin-top: 3px;
  }

  .logo {
    max-width: 90px;
  }

  .sign-in-btn button {
    padding: 5px 20px;
    font-size: 17px;
    width: auto;
  }

  .sign-in-btn {
    margin-top: 5px;
  }

  .containerCheck-without-cehck {
    font-size: 11px;
  }

  .containerCheck {
    padding-left: 35px;
    margin-bottom: 5px;
    font-size: 12px;
  }

  .hidden-xs {
    height: auto;
    width: 100%;
  }

  body {
    overflow-y: unset !important;
    background: #60c0bc;
  }
}

@media (min-width:992px) and (max-width: 1199px) {
  .main-form {
    padding: 10px 20px 10px 20px;
    min-width: 290px;
    right: 13%;
  }

  .checkmark {
    height: 20px;
    width: 20px;
  }

  .join-today {
    font-size: 25px;
    margin-top: 5px;
  }

  .quick {
    font-size: 22px;
  }

  #login {
    margin-bottom: 10px;
  }

  .has-icons-left .input {
    height: 35px;
    font-size: 15px;
  }

  .field {
    margin-bottom: 10px !important;
  }

  .logo {
    max-width: 110px;
  }

  .sponser-by {
    font-size: 16px;
    margin-top: 3px;
  }

  .sign-in-btn button {
    padding: 10px 30px;
    font-size: 15px;
    width: auto;
  }

  .containerCheck {
    padding-left: 25px;
    margin-bottom: 5px;
    font-size: 12px;
  }

  .sign-in-btn {
    margin-top: 5px;
  }
}

@media (min-width:1200px) and (max-width: 1550px) {
  .main-form {
    padding: 10px 20px 20px 20px;
    right: 15%;
    top: 14%;
    min-width: 340px;
  }

  .join-today {
    font-size: 30px;
    margin-top: 0;
  }

  #login {
    margin-bottom: 10px;
  }

  .quick {
    font-size: 20px;
  }

  .has-icons-left .input {
    height: 40px;
    font-size: 15px;
  }

  .logo {
    max-width: 140px;
  }

  .sponser-by {
    font-size: 16px;
    margin-top: 8px;
  }

  .sign-in-btn button {
    padding: 5px 40px;
    font-size: 20px;
    width: auto;
  }

  .field {
    margin-bottom: 10px !important;
  }

  .containerCheck {
    padding-left: 34px;
    margin-bottom: 8px;
    font-size: 12px;
  }

  .sign-in-btn {
    margin-top: 14px;
  }
}